<div class="container footer text-center">
  <p>
    Made with love by <a href="http://outofsomething.com">Out of Something, LLC</a> using awesome emojis by <a href="https://www.emojione.com">emojione</a>.
    |
    <a href="/about">What is this?</a>
  </p>
</div>
