<div class="row">
  <div class="eight columns text-center offset-by-two">
    <h1>What is <a href="/">emoj.es</a>?</h1>

    <p>
      <code>emoj.es</code> is a simple way to send huge emoji to your friends.
    </p>
    <ol>
      <li>Enter your emoji and an optional message below</li>
      <li>Click "Encode!"</li>
      <li>Copy the generated URL</li>
      <li>Send it to your friends in iMessage, Slack, Twitter, or more!</li>
    </ol>
    </p>
      When your friend receives the message, the "preview" will be <strong>huge</strong>!
    </p>

    <hr />

    <h2>FAQs</h2>

    <p><strong>Wait, really?</strong></p>
    <p>Yes! Really! That's all this does!</p>
    <p><strong>The URL doesn't seem special... 🤔</strong></p>
    <p>Good eye! The URL is simply <code>/[your emoji]/[your message]</code>.</p>
    <p>So you don't even need to come here to generate it!</p>
    <p><strong>Some emoji don't seem to work</strong></p>
    <p>Slack and some other apps sometimes need you to encode your URLs.</p>
    <p>For example, iMessage thinks <code><%= request.base_url %>/😎/</code> is two URLs.</p>
    <p>Just come here, fill out the form above, and get the encoded URL!</p>

    <hr />

    <a href="/">Go make some huge emoji!</a>
  </div>
</div>
