<div class="row">
  <div class="twelve columns text-center">
    <% if title %>
      <h1><%= h(title) %></h1>
    <% end %>

    <% if emoji.valid? && emoji.public_path %>
      <%= img(emoji.public_path, style: "width:100%", alt: string.humanize) %>
    <% else %>
      <p>Hmm. That looks like an invalid emoji.</p>
      <p>Go <a href="/">here</a> to make some huge emoji!</p>
    <% end %>
  </div>
</div>

<% if emoji.valid? && emoji.public_path %>
  <div class="row">
    <div class="twelve columns text-center" style="margin-top:55px;">
      <% if defined?(string) %>
          <noscript>
            <code><%= encoded_url %></code>
          </noscript>
          <div id="clipboard-container" style="display:none;">
            <button class="clipboard-btn" data-clipboard-text="<%= encoded_url %>">
              Copy URL
            </button>
            <script type="text/javascript" src="/scripts/clipboard.min.js"></script>
            <script type="text/javascript">
            document.getElementById("clipboard-container").style.display = 'block';
            var clipboard = new Clipboard('.clipboard-btn');
            clipboard.on('success', function(e) {
              e.trigger.innerHTML = 'done!';
            });
            </script>
          </div>
      <% else %>
        <a class="button" href="/random">View random emoji!</a>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="twelve columns text-center" style="margin-top:55px;">
    <p>
      <a href="/">&larr; Make a big emoji!</a>
    </p>
    <p>
      <a href="/about">What is this?</a>
    </p>
  </div>
</div>
