<div class="row">
  <div class="four columns text-center offset-by-four">
    <h1>uh oh...</h1>
    <%= img(error!.emoji.public_path, style: "width:100%", alt: '404') %>

    <p><%= error!.message %></p>
    <a href="/">Go make a huge emoji!</a>
  </div>
</div>
