<div class="row">
  <div class="eight columns text-center offset-by-two">

    <h1><%= settings.site_name %></h1>

    <form action="/" method="GET">
      <label for="code">
        <p>Type in some emojis.<br />We will make them very big.</p>
      </label>
      <input type="text" name="code" id="code" />
      <label for="title"><p>and add some text (if you want to).</p></label>
      <input type="text" name="title" id="title" />
      <br />
      <input type="submit" value="Done!" class="button">
    </form>

    <p>
      <span>or</span>
      <a href="/random">View random emoji!</a>
    </p>

    <% if env['HTTP_USER_AGENT'] =~ /Mac OS/ %>
      <p><small>(pro tip: press cmd-ctrl-space to open the emoji keyboard)</small></p>
    <% end %>

  </div>
</div>
