<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= h(title) %></title>
  <meta name="og:title" value="<%= h(title) %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="emoji" />
  <meta property="og:image" value="<%= meta_image_url %>" />
  <meta name="twitter:image" content="<%= meta_image_url %>"/>
  <link rel="shortcut icon" href="/images/favicons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png" />
  <%= css :normalize, :media => 'screen' %>
  <%= css :skeleton, :media => 'screen' %>
  <%= css :custom, :media => 'screen' %>
</head>
<body>
  <%= erb :_heading %>

  <div class="container">
    <%= yield %>
  </div>

  <%= erb :_footer %>
</body>
</html>
