/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: 'Gill Sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #444;
}

.clearfix {
  clear: both;
}

.text-light {
  color: #888;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

a.app-store img {
  width: 218px;
  height: 62px;
}

code {
  white-space: normal;
}

img.app-icon {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.inline li {
  display: inline-block;
}

div.services {
  margin-top: 25px;
}
ul.services {
  margin: 0;
  padding: 8px 0;
}
ul.services li {
  padding: 2px 10px;
  margin: 0;
}
ul.services li a { 
  text-decoration: none;
  color: black;
}
.footer {
  margin-top: 100px;
}
.footer a {
  text-decoration: none;
  color: black;
}



/* Minimized navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navigation {
  padding: 0.5em;
}
.navigation h1 {
  font-size: 32px;
}
.navigation h1 a {
  text-decoration: none;
}
.navigation h1 a img.app-icon {
  width: 0.9em;
  height: 0.9em;
  border-radius: 5px;
}
.navigation form {
  margin: 0;
  padding: 0;
}
.navigation form input[type=text] {
  width: 80%;
}
.navigation form button {
  border: 0;
  width: 10%;
  padding: 0;
  background: transparent
}
.navigation form button img {
  width: 20px;
  height: 20px;
}

/* Map
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#gmap_canvas {
  height:500px;
  width:100%;
}
#gmap_canvas img {
  max-width:none!important;
  background:none!important
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 6rem 0;
  text-align: center;
}
.section a {
  color: black;
  text-decoration: none;
}

.subtitle a {
  text-decoration: none;
  color: #444;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
.section.features {
  padding: 8% 0;
}
.section.alternate-color {
  /*background-color: #26dcfe;*/
  background-color: #26dcfe;
  background : -webkit-linear-gradient(top, #26dcfe 0%, #b8b8da 100%);
  background : -moz-linear-gradient(top, #26dcfe 0%, #b8b8da 100%);
  background : -ms-linear-gradient(top, #26dcfe 0%, #b8b8da 100%);
  background : -o-linear-gradient(top, #26dcfe 0%, #b8b8da 100%);
  background : linear-gradient(top, #26dcfe 0%, #b8b8da 100%);
  /* b8b8d1, 26dcfe */
  color: white;
}

.section.alternate-color a {
  color: white;
}

.section.features img {
  position: relative;
  width: 200px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px #74a4b8;
  display: none;
}

.section.notifications img.watch {
  width: 120px;
}
.section.notifications img.phone {
  width: 250px;
}

.locations h5 {
  margin-top:25px;
  margin-bottom:0;
}

/* Smaller than 549 */
.sm-hidden {
  display: none;
}
.sm-only {
  display: inline-block;
}
.app-icon-container {
  text-align: center;
}
img.app-icon {
  width: 128px;
  height: 128px;
  border-radius: 23px;
}
.lg-text-left, .lg-text-right {
  text-align: center;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .lg-text-left {
    text-align: left;
  }
  .lg-text-right {
    text-align: right;
  }

  .sm-hidden {
    display: inline-block;
  }
  .sm-only {
    display: none;
  }
  .hero {
    text-align: right;
    padding: 12rem 0;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  .hero a.app-store {
    display: block;
  }
  .app-icon-container {
    text-align: left;
  }
  img.app-icon {
    width: 256px;
    height: 256px;
    border-radius: 46px;
  }
  ul.services li {
    padding: 4px 10px;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero-heading {
    font-size: 2.6rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .section.features img {
    display: inline-block;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
  ul.services li {
    padding: 6px 20px;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .hero-heading {
    font-size: 3.0rem;
  }
}

.share-link {
  text-align: center;
}
.share-link:focus {
  background-color: #26dcfe;
}
.share-link::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
.share-link::-moz-selection {
  background: transparent; /* Gecko Browsers */
}
